/* Colors */
$rose-light: #fbecf1;
$rose: #ef827f;
$gray-300: #757575;
$gray-500: #606060;
$gray-700: #595959;
$white: #fff;
$black: #282828;

/* Typography */
$font-base: Lato, sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1980px
);

/* Sizing */
$container-max-width: 2000px;
$navbar-safe-area: 8rem;
